# Flutter
.dart_tool/
.packages
build/
flutter_*.png

# IntelliJ / VSCode
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
**/android/app/debug.keystore
*.jks

# iOS / Xcode
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
**/xcuserdata/
**/dgph

# CocoaPods
**/Pods/

# Firebase (민감 파일)
google-services.json
GoogleService-Info.plist
firebase_options.dart

# Logs
*.log

# Output (배포 파일)
*.apk
*.aab
